<head>	<meta charset="utf-8" />
	
	<!-- Primary Meta Tags -->
	<title>Talk to dogs | Sarama</title>
	<meta name="title" content="Talk to dogs | Sarama">
	<meta name="description" content="We're developing a new spoken language between dogs & people.">
	<meta name="author" content="Sarama Inc">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://sarama.xyz/">
	<meta property="og:title" content="Talk to dogs | Sarama">
	<meta property="og:description" content="We're developing a new spoken language between dogs & people.">
	<meta property="og:image" content="https://sarama.xyz/images/sarama-meta-image.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://sarama.xyz/">
	<meta property="twitter:title" content="Talk to dogs | Sarama">
	<meta property="twitter:description" content="We're developing a new spoken language between dogs & people.">
	<meta property="twitter:image" content="https://sarama.xyz/images/sarama-meta-image.png">
	
	{{ if .Site.Params.favicon }}
	{{ partial "template/favicon" }}
	{{ end }}
	<!-- CSS -->
	{{ if .Site.IsServer }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
	{{ else }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
	{{ end }}
	{{ if .Site.IsServer }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "assets/css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript).RelPermalink }}" /></noscript>
	{{ else }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "assets/css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript | minify).RelPermalink }}" /></noscript>
	{{end}}
</head>
